export FISSILE_RELEASE="nats-release,bpm-release,scf-helper-release"
export FISSILE_ROLE_MANIFEST="`pwd`/role-manifest.yml"
export FISSILE_LIGHT_OPINIONS="opinions.yml"
export FISSILE_DARK_OPINIONS="dark-opinions.yml"
export FISSILE_WORK_DIR="output/fissile"
export FISSILE_IMAGES_DIR="output/images"
export FISSILE_STEMCELL="splatform/fissile-stemcell-opensuse:latest"
export FISSILE_OUTPUT_DIR=nats-chart
export FISSILE_DOCKER_ORGANIZATION="bosh"
export FISSILE_DOCKER_REGISTRY="docker.io"
